<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<meta name="google-site-verification" content="0gkvZej25ZO4N56vV-VKGI_mzLhO_39JG44G_cntjmk" />
		
		<title>Movie Review</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Company Name</h1>
							<small class="site-description">Tagline goes here</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item <%= currentPath === '/' ? 'current-menu-item' : '' %>">
								<a href="/">Home</a>
							</li>
							<li class="menu-item <%= currentPath === '/home/about' ? 'current-menu-item' : '' %>">
								<a href="/home/about">About</a>
							</li>
							<li class="menu-item <%= currentPath === '/review.html' ? 'current-menu-item' : '' %>">
								<a href="/home/movieReview">Movie reviews</a>
							</li>
							<li class="menu-item <%= currentPath === '/joinus.html' ? 'current-menu-item' : '' %>">
								<a href="/home/joinUs">Join us</a>
							</li>
							<li class="menu-item <%= currentPath === '/contact.html' ? 'current-menu-item' : '' %>">
								<a href="/home/contact">Contact</a>
							</li>
						</ul>
						 <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>