<%- include("../partials/clientHeader.ejs") %>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="row">
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
                                        <% for (let i = movies.length-1; i > movies.length-6; i--) { %>
                                            <li><a href="/home/SingleMoviePage/<%= movies[i]._id %>"><img src="/uploads/<%= movies[i].image %>" alt="Slide <%= i + 1 %>" style="width: 100%; height: 600px;"></a></li>
                                        <% } %>
                                    </ul>
								</div>
							</div>

							<div class="col-md-3">

								<div class="row">

									<% for(let i=3; i<=5; i++) { %>
										<div class="col-sm-6 col-md-12">
											<div class="latest-movie">
												<a href="/home/SingleMoviePage/<%= movies[i]._id %>"><img style="height: 180px; object-fit: fill;" src="/uploads/<%= movies[i].image %>" alt="Movie <%= i + 1 %>"></a>
											</div>
										</div>
									<% } %>

									

								</div>
							</div>
						</div> <!-- .row -->
						<div class="row">
							<% for(let i = 6; i<10; i++){ %>
								<div class="col-sm-6 col-md-3">
									<div class="latest-movie">
										<a href="/home/SingleMoviePage/<%= movies[i]._id %>"><img style="height: 300px; object-fit: cover;" src="/uploads/<%= movies[i].image %>" alt="Movie <%= i + 1 %>"></a>
									</div>
								</div>
							<% } %>
						</div> <!-- .row -->
						
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">December premiere</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
								<ul class="movie-schedule">
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<h2 class="section-title">November premiere</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
								<ul class="movie-schedule">
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<h2 class="section-title">October premiere</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
								<ul class="movie-schedule">
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
									<li>
										<div class="date">16/12</div>
										<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
<%- include("../partials/clientFooter.ejs") %>